# 가상 환경 폴더 무시
venv/
venv_PDF2IMG/
venv_PPC/
# (선택 사항) 숨김 파일로 생성된 .venv 폴더도 무시
.venv/
Qbank/credentials.json
Qbank/token.pickle
Qbank/serviceAccountKey.json
.env
client_secret.json
token.json
node_modules/
dist/
build/
*.zip
*.mp4
*.tar
*.iso
*.mp3
*.wav
*.spec
*.log
build/